<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @student.credits %>
</p>

<p>
  <strong>Student class:</strong>
  <%= @student.student_class %>
</p>

<p>
  <strong>Sections:</strong>
<table class="table">
  <thead>
  <tr>
    <th>Section number</th>
    <th>Location</th>
    <th>Course Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @student.sections.each do |section| %>
      <tr>
        <td><%= section.section_number %></td>
        <td><%= section.class_location %></td>
        <td><%= section.course.course_name %></td>
        <td><%=link_to 'Show', section %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</p>



<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
