<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @professor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @professor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @professor.email %>
</p>

<p>
  <strong>Office location:</strong>
  <%= @professor.office_location %>
</p>


<p>
  <strong>Sections:</strong>
<table class="table">
  <thead>
  <tr>
    <th>Section number</th>
    <th>Location</th>
    <th>Professor</th>
    <th>Course Name</th>
    <th>Students</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @professor.sections.each do |section| %>
      <tr>
        <td><%= section.section_number %></td>
        <td><%= section.class_location %></td>
        <td><%= section.professor.last_name %></td>
        <td><%= section.course.course_name %></td>
        <td><%= link_to "list", section %> </td>
        <td><%=link_to 'Show', section %></td>
        <td><%=link_to 'Edit', edit_section_path(section) %></td>
        <td><%=link_to 'Destroy', section, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>

  <% end %>
  </tbody>
</table>
</p>





<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
